header {
  background-color: white;
  padding: 10px 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* Agregar margen en la parte inferior del header */
}

h1 {
  margin: 0;
  font-weight: 700;
}

label[for="type-select"],
label[for="temporality-select"],
label[for="sort-select"] {

  color: rgb(253, 253, 253);
  /* Cambia el color del texto a rojo */
  font-weight: 500;
}

body {
  background-image: url("https://img.freepik.com/vector-premium/telon-fondo-cortinas-teatro-festivo-concierto-escenario-espectaculo-telon-fondo-entretenimiento_41737-368.jpg?w=740");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(0.9);
  /* Ajusta el valor según tus preferencias */
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

/* Estilo para la imagen de la película */
.card img {
  width: 300px;
  /* Establece un ancho fijo para todas las imágenes */
  height: 400px;
  /* Mantiene la proporción de aspecto original */
  border-radius: 10px 10px 0 0;
  display: block;
  margin: 0 auto;

}

/* Estilo para los términos y definiciones en la tarjeta */
.card dt {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  color: #0b0808
}

.card dd {
  margin: 5px 0;
  color: #e8dede;
  font-weight: 500;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  /* Espacio entre las tarjetas */
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li:hover {

  background-color: rgba(151, 98, 98, 0.5);
  transition: background-color 0.3s;
  /* Agrega una transición suave */
}

li {
  background: rgba(228, 181, 181, 0.7);
  /* Fondo transparente*/
  border-radius: 10px;
  /* Bordes redondeados, ajusta según tus preferencias */
  padding: 20px;
}