header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-weight: 700;
}

.estadisticas {
  margin-left: 30px;
  font-weight: 700;
}
nav {
  background-color: black;
  padding: 25px 20px;
  display: flex;
  /* Para que el contenedor se ajuste al contenido */
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}

label[for="type-select"],
label[for="temporality-select"],
label[for="sort-select"]{
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 500;
}

#button-clear {
  margin-left: 15px;
}

body {
  background-color: rgb(26, 26, 26);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(0.9);
  /* Ajusta el valor según tus preferencias */
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: whitesmoke;
}

/* Estilo para la imagen de la película */
.card img {
  width: 300px;
  /* Establece un ancho fijo para todas las imágenes */
  height: 400px;
  /* Mantiene la proporción de aspecto original */
  border-radius: 10px 10px 0 0;
  display: block;
  margin: 0 auto;

}

/* Estilo para los términos y definiciones en la tarjeta */
.card dt {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  color: #0b0808
}

.card dd {
  margin: 5px 0;
  color: #e8dede;
  font-weight: 500;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  /* Espacio entre las tarjetas */
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li:hover {

  background-color: rgba(151, 98, 98, 0.5);
  transition: background-color 0.3s;
  /* Agrega una transición suave */
}

li {
  background: rgba(228, 181, 181, 0.7);
  /* Fondo transparente*/
  border-radius: 10px;
  /* Bordes redondeados, ajusta según tus preferencias */
  padding: 20px;
}

footer {
  padding: 0px; /* Espacio alrededor del footer */
  text-align: center; /* Centra el contenido del footer */
  font-size: smaller;
}
